@import-normalize; /* bring in normalize.css styles */


html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: linear-gradient(15deg, #13547a 0%, #26a0da 100%); */
  /* background-image: url(https://t3.ftcdn.net/jpg/05/87/67/18/1200_F_587671890_6QyhXq8d3IzWDq8iaZkAt7F2WQsD4pX0.jpg);    */
  background-image: linear-gradient(to top, rgb(193, 223, 196) 0%, rgb(222, 236, 221) 100%); 
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* background-image: url(https://w0.peakpx.com/wallpaper/138/345/HD-wallpaper-white-flowers-in-light-blue-background-blue.jpg); */